# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
build/

# Django
staticfiles/
media/
db.sqlite3

# Environment
.env
*.env
venv/
.venv/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
